

#body{
    background-image: linear-gradient(red);
}

.grad {
    color: white;
    padding-left: 40px;
    height: 100px;
    background-color: red;
    background-image:
      linear-gradient(
        to right, 
        red, #f06d06
      );
  }
.nav-item{
    color: white;
}

.navbar-nav { 
    margin-left: auto; 
} 

.navbar-text{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif  ;

}
.img{
    padding-left: 40px;
}
.carousal-item {
    height: 650px;
    background-position: center;
    background-size: cover;
    padding-bottom: 2.5rem;    
}

.myMargin{
   margin: 50px;
   padding-top: 100px;
} 

.myMargin2{
    margin: 10px;
    padding-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
 } 

.myMargin3{
    
    
    padding-top: 152px;
    padding-left: 540px;
    
}

.myMargin4{
    
    
    padding-top: z52px;
    padding-left: 540px;
    
}

.myMarginDist{
    
    
    padding-top: 122px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

.box{
    border-radius:25px;
    color: white;
    height: 630px;
    width: 400px;
    padding:10px;
    padding-bottom: 50px;
    background-color: red;
    background-image:
      linear-gradient(
        rgb(9, 101, 187), #668008);
}

.box2{
    border-radius:25px;
    color: white;
    height: 800px;
    width: 600px;
    padding:10px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: red;
    background-image:
      linear-gradient(
        rgb(9, 101, 187), #c78b0b);
}

.card{
    margin: 30px;
    display:inline-block;
}
#page-container {
    position: relative;
    min-height: 60vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }


.disthead{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
} 
.ptv{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 30px;
    font-style: oblique;
    
}
.footer{
    
    color: black;
    background-color: rgb(126, 211, 236);
    
    margin-top: 40%;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px; 
}
